/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(144, 202, 249);
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.mainPage {
  border: 2px solid black;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  
}

#go {
  background-color: rgb(245, 245, 245);
  font-family: 'PT Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin: auto;
}

.col-12 {
  display: flex;
  justify-content: center;
  margin: auto;
  
}

h1 {
  display: flex;
  justify-content: center;
  font-style: white;
}

h2 {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
}

#submit-answer-btn {
  display: flex;
  justify-content: center;
  margin: 5px;
  color: brown;
}

#next-question-btn {
  display: flex;
  justify-content: center;
  margin: 5px;
  color: green;
  font-family: 'PT Sans', sans-serif;
}

#restart {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: rgb(255, 111, 0);
  font-family: 'PT Sans', sans-serif;
}

.question-and-score {
  list-style: none;
  margin: 1em;
  border: 2px solid black;
  background-color: rgb(224, 224, 224);
}


fieldset {
  border: 2px solid black;
  margin: 1em;
}

.right-answer {
  border: 2px solid white;
  margin: 1em;
  background-color: rgb(129, 199, 132);
  color: white;
  padding-left: 1em;
}

.wrong-answer {
  border: 2px solid red;
  margin: 1em;
  background-color: yellow;
}
