/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

.mainPage {
  border-style: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-left: 30px;
}

.go {
  display: flex;
  justify-content: center;
  margin: auto;
 
  
}

.col-12 {
  display: flex;
  justify-content: center;
  margin: auto;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.next {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.reset {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.question-and-score {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}